<!DOCTYPE html>
<html>
    <head>

         <title>Ng'ara</title>

          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          
          
        <link rel="stylesheet" href=" {{STATIC_URL}}https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css"> 
        
         </head>
         
         
         
        
  <body>
      
      
            
              
            <header>
            <!-- <div class="img">
              <img src="images/logo.png">
              </div> -->

  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ng'ara</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/service">SERVICE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">CONTACT</a>
        
      </li>
    </ul>
    <!--<span class="navbar-text">-->
    <!--  Navbar text with an inline element-->
    <!--</span>-->
  </div>
</nav>
<!--              <ul>-->
<!--                <li><a href="/">HOME</a></li>-->
<!--                <li><a href="/about">ABOUT US</a></li>-->
<!--                <li><a href="/service">SERVICES</a></li>-->
<!--                <li><a href="/contact">CONTACT</a></li>-->
<!--              </ul>-->
           
            </header>
            <div class="jumbotron text-center">
            <img src="media/house_2Xk7nQt.png"width=100%/>
            
          
</div>
        
  
            
            <!--<img src="media/house_2Xk7nQt.png"/>-->

            <!--<div class="opacity"> <br><h1 color="yelllow">NG'ARA</h1>-->
            <!--<p>A clean home, is a happy home.</p></div>-->
            <!--</div>-->
            <!--<div class="content">-->
            <!--<br>-->
            <!--<h2>GENERAL CLEANING AT 3% OFF</h2>-->
            <!--  <div class="service">-->
            <!--  <p>How many rooms?</p>-->
            <!--  <button class="button button1">1</button>-->
            <!--  <button class="button button2">2</button>-->
            <!--  <button class="button button3">3</button>-->
            <!--  <button class="button button4">4</button>-->
            <!--  <button class="button button5">5</button>-->
            <!--  <button class="button button6">6</button>-->
            <!--  <p >How many hours?</p>-->
            <!--  <button class="button button1">2</button>-->
            <!--  <button class="button button2">3</button>-->
            <!--  <button class="button button3">4</button>-->
            <!--  <button class="button button4">5</button>-->
            <!--  <button class="button button5">6</button>-->

            <!--  <br><label for="services">Services</label>-->
            <!--  <select id="services" name="services">-->
            <!--  <option value="laundry">Laundry</option>-->
            <!--  <option value="cleaning the house">Cleaning the house</option>-->
            <!--  <option value="cleaning dishes">Cleaning dishes</option>-->
            <!--  <option value="cleaning dishes">Ironing</option>-->
            <!--  </select>-->
            <!--  <label for="Services">Summary</label>-->
            <!--  <form>-->
            <!--    <textarea>Your message</textarea>-->
            <!--  </form>-->
  
            <!--  </div>-->
            <!--  <div class="contact">-->
            <!--  <p>Personal Detail</p>-->
            <!--    <input type=" text" name="" placeholder="Name" required >-->
            <!--    <input type=" text" name="" placeholder="Phone number" required  style="margin:15px 0;">-->
            <!--    <input type=" text" name="" placeholder="Email" required  style="margin:15px 0;">-->
            <!--    <input type=" text" name="" placeholder="Location" required  style="margin:15px 0;">-->

            <!--    <script>-->
            <!--    $(document).ready(function() {-->
            <!--    $("#datepicker").datepicker();-->
            <!--    });-->
            <!--    </script>-->
            <!--    <form>-->
            <!--    <input id="datepicker" placeholder="start and end time"  style="margin:15px 0;"/>-->
            <!--    </form>-->

            <!--    <input type=" text" name="" placeholder="start and end time" required  style="margin:15px 0;">-->
            <!--    </div>-->
            <!--</div>-->
            
      
            <!--<div class="footer"></div>-->
            
          

     <!--<script src="{{STASTIC_URL}}js/jquery-3.2.1.min.js"></script>-->
     <!--<script src="{{STASTIC_URL}}js/bootstrap.min.js"></script>-->
     <script src="{{STATIC_URL}}https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src=" {{STATIC_URL}}https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="{{STATIC_URL}}https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
  
<html>


        
